# Boucles & Listes

## La boucle For

L'une des meilleures façons de travailler avec une liste est d'utiliser des boucles `for`. Il s'agit d'une méthode permettant de parcourir chaque élément de la liste ou de "l'itérer".

In [2]:
liste_noms = ["Maria", "John", "Elena", "Satoshi", "Sophie", "Mohammed", "Olga", "Pablo", "Ling", "Alexandra"]

In [8]:
for elem in liste_noms:
    print(elem)

Maria
John
Elena
Satoshi
Sophie
Mohammed
Olga
Pablo
Ling
Alexandra

In [6]:
for index_courant in range(len(liste_noms)):
    print(liste_noms[index_courant])

Maria
John
Elena
Satoshi
Sophie
Mohammed
Olga
Pablo
Ling
Alexandra

Une boucle `for` basique se compose de deux lignes :

- Sur la première ligne, vous tapez le mot anglais `for`, un nouveau nom de variable pour chaque élément de la liste, le mot anglais `in`, le nom de la liste et un deux-points (`:`).

- Sur la deuxième ligne, vous indentez et écrivez une instruction ou une "déclaration" à exécuter pour chaque élément de la liste.

In [19]:
for nom in liste_noms:
    print('salut chaine de caractère'+ nom)

salut chaine de caractèreMaria
salut chaine de caractèreJohn
salut chaine de caractèreElena
salut chaine de caractèreSatoshi
salut chaine de caractèreSophie
salut chaine de caractèreMohammed
salut chaine de caractèreOlga
salut chaine de caractèrePablo
salut chaine de caractèreLing
salut chaine de caractèreAlexandra

In [9]:
for nom in noms:
    print(f"Le nom de la personne est {nom}")

Le nom de la personne est Maria
Le nom de la personne est John
Le nom de la personne est Elena
Le nom de la personne est Satoshi
Le nom de la personne est Sophie
Le nom de la personne est Mohammed
Le nom de la personne est Olga
Le nom de la personne est Pablo
Le nom de la personne est Ling
Le nom de la personne est Alexandra

In [11]:
for x in noms:
    print(f"Le nom de la personne est {x}")

Le nom de la personne est Maria
Le nom de la personne est John
Le nom de la personne est Elena
Le nom de la personne est Satoshi
Le nom de la personne est Sophie
Le nom de la personne est Mohammed
Le nom de la personne est Olga
Le nom de la personne est Pablo
Le nom de la personne est Ling
Le nom de la personne est Alexandra

In [20]:
ages = [22, 21, 23, 47, 45, 28, 23, 50, 26, 28, 30]

In [22]:
for age in ages:
    print(age)

22
21
23
47
45
28
23
50
26
28
30

In [24]:
for age in ages:
    if age <= 30:
        print("La personne a moins de 30 ans")
    else:
        print("La personne a plus de 30 ans")

La personne a moins de 30 ans
La personne a moins de 30 ans
La personne a moins de 30 ans
La personne a plus de 30 ans
La personne a plus de 30 ans
La personne a moins de 30 ans
La personne a moins de 30 ans
La personne a plus de 30 ans
La personne a moins de 30 ans
La personne a moins de 30 ans
La personne a moins de 30 ans

[22, 21, 23, 47, 45, 28, 23, 50, 26, 28, 30]

In [26]:
age_2 = [] # remplir age 2 avec les éléments de age

In [27]:
for age in ages:
    if age > 30:
        print(age)
        age_2.append(age)

47
45
50

In [30]:
ages_3 = []

In [32]:
ages

[22, 21, 23, 47, 45, 28, 23, 50, 26, 28, 30]

In [33]:
for age in ages:
    print(age)
    ages_3.append(age)
    print(ages_3)

22
[22, 21, 23, 47, 45, 28, 23, 50, 26, 28, 30, 22]
21
[22, 21, 23, 47, 45, 28, 23, 50, 26, 28, 30, 22, 21]
23
[22, 21, 23, 47, 45, 28, 23, 50, 26, 28, 30, 22, 21, 23]
47
[22, 21, 23, 47, 45, 28, 23, 50, 26, 28, 30, 22, 21, 23, 47]
45
[22, 21, 23, 47, 45, 28, 23, 50, 26, 28, 30, 22, 21, 23, 47, 45]
28
[22, 21, 23, 47, 45, 28, 23, 50, 26, 28, 30, 22, 21, 23, 47, 45, 28]
23
[22, 21, 23, 47, 45, 28, 23, 50, 26, 28, 30, 22, 21, 23, 47, 45, 28, 23]
50
[22, 21, 23, 47, 45, 28, 23, 50, 26, 28, 30, 22, 21, 23, 47, 45, 28, 23, 50]
26
[22, 21, 23, 47, 45, 28, 23, 50, 26, 28, 30, 22, 21, 23, 47, 45, 28, 23, 50, 26]
28
[22, 21, 23, 47, 45, 28, 23, 50, 26, 28, 30, 22, 21, 23, 47, 45, 28, 23, 50, 26, 28]
30
[22, 21, 23, 47, 45, 28, 23, 50, 26, 28, 30, 22, 21, 23, 47, 45, 28, 23, 50, 26, 28, 30]

In [28]:
age_2

[47, 45, 50]

## Exercices !

In [34]:
profession = ['enseignante', 'médecin', 'avocat', 'commerçant', 'infirmière', 'agriculteur']
enfant = ['Enfant Alana de 10 jours', 'Catherine de 2 mois', '', 'hippolite âgé de 10 jours', 'Lucie, 4 ans', 'Emily 7 mois']
genre = ['f', 'm', 'w', 'm', 'f', 'm']

#### 1/ Extraire le deuxième élément de la liste profession


#### 2/ Ajouter une profession de votre choix à la liste profession, puis l'afficher

#### 3/ Faites une boucle for  qui itére la liste profession et affiche chaque profession

## Itérer sur des Dictionnaires

In [35]:
personnes = {"personne1":
                  {'prenom': 'Emma',
                   'nom': 'Bovary',
                   'age': 27,
                   'maladie': 'dépressive',
                   'profession': 'idéaliste',
                   'genre': 'f',
                   'enfants': 'Berthe'},
            "personne2":
                  {'prenom': 'Arsène',
                   'nom': 'Lupin',
                   'age': 31,
                   'maladie': 'kleptoman',
                   'profession': 'gentleman-cambrioleur',
                   'genre': 'm',
                   'enfants': None}
                }

In [36]:
personnes.values()

dict_values([{'prenom': 'Emma', 'nom': 'Bovary', 'age': 27, 'maladie': 'dépressive', 'profession': 'idéaliste', 'genre': 'f', 'enfants': 'Berthe'}, {'prenom': 'Arsène', 'nom': 'Lupin', 'age': 31, 'maladie': 'kleptoman', 'profession': 'gentleman-cambrioleur', 'genre': 'm', 'enfants': None}])

In [39]:
personnes.keys()

dict_keys(['personne1', 'personne2'])

In [41]:
for personne in list(personnes.keys()):
    print(personne)

personne1
personne2

In [42]:
for personne in personnes.values():
    print(personne)

{'prenom': 'Emma', 'nom': 'Bovary', 'age': 27, 'maladie': 'dépressive', 'profession': 'idéaliste', 'genre': 'f', 'enfants': 'Berthe'}
{'prenom': 'Arsène', 'nom': 'Lupin', 'age': 31, 'maladie': 'kleptoman', 'profession': 'gentleman-cambrioleur', 'genre': 'm', 'enfants': None}

In [ ]:
personnes['personne1']['prenom']

In [43]:
for clé, valeur in personnes.items():
    if clé == "personne1":
        print(valeur)

{'prenom': 'Emma', 'nom': 'Bovary', 'age': 27, 'maladie': 'dépressive', 'profession': 'idéaliste', 'genre': 'f', 'enfants': 'Berthe'}

In [ ]:
# print nom et age si + 30 ans

In [46]:
for clé, valeur in personnes.items():
    if valeur['age']>=30:
        print(valeur['prenom'])

Arsène